@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(144deg, #190422 21.1%, #190422 102.96%);
}
.container {
  max-width: 1536px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* header */

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header-logo img {
  max-width: 120px;
  width: 100%;
}
.nav-bar {
  display: flex;
  gap: 80px;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.nav-bar a:hover {
  color: #c6a9eb;
}
.nav-bar button {
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 20px;
  background-color: #c6a9eb;
}
.nav-bar-icon {
  color: white;
  size: 50px;
}
.nav-bar-icon {
  display: none;
}

@media (max-width: 1536px) {
  .header-logo img {
    max-width: 80px;
  }
  .nav-bar {
    gap: 40px;
  }
  .nav-bar a {
    font-size: 18px;
  }
  .nav-bar button {
    padding: 12px 26px;
    font-size: 17px;
  }
}

@media (max-width: 1280px) {
  .header-logo img {
    max-width: 80px;
  }
  .nav-bar {
    gap: 40px;
  }
  .nav-bar a {
    font-size: 18px;
  }
  .nav-bar button {
    padding: 12px 26px;
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .header-logo img {
    max-width: 80px;
  }
  .nav-bar {
    gap: 25px;
  }
  .nav-bar a {
    font-size: 15px;
  }
  .nav-bar button {
    padding: 10px 24px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .header-logo img {
    max-width: 70px;
  }
  .nav-bar {
    display: none;
  }
  .nav-bar-icon {
    display: unset;
  }
}
@media (max-width: 320px) {
  .header-logo img {
    max-width: 60px;
  }
}

/* HERO SECTION */
.hero-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 90px 0;
}
.hero-left {
  max-width: 650px;
  width: 100%;
  padding: 23px;
}
.hero-left h1 {
  font-size: 80px;
  color: white;
  line-height: 96px;
}
.hero-left p {
  color: white;
  font-size: 20px;
  line-height: 31px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.hero-left button {
  padding: 7px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 20px;
  background-color: #c6a9eb;
  border-radius: 6px;
  border: #c6a9eb;
}
.hero-right{
  padding: 30px;
}
.hero-right img {
  max-width: 550px;
}

@media (max-width: 1536px) {
  .hero-left h1 {
    font-size: 70px;
    line-height: 130%;
  }
  .hero-left p {
    font-size: 18px;
  }
  .hero-right img {
    max-width: 550px;
  }
}
@media (max-width: 1280px) {
  .hero-left h1 {
    font-size: 55px;
  }
  .hero-left p {
    font-size: 18px;
  }
  .hero-right img {
    max-width: 500px;
  }
}
@media (max-width: 1024px) {
  .hero-left h1 {
    font-size: 35px;
  }
  .hero-left p {
    font-size: 15px;
  }
  .hero-right img {
    max-width: 380px;
  }
  .hero-left button {
    padding: 8px 10px;
    font-size: 18px;
  }
  .hero-left svg {
    max-width: 30px;
  }
}
@media (max-width: 768px) {
  .hero-section .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .hero-left h1 {
    font-size: 30px;
  }
  .hero-left p {
    font-size: 12px;
  }
  .hero-left button {
    margin: 0% auto;
  }
  .hero-right img {
    max-width: 310px;
  }
  .hero-left button {
    padding: 6px 9px;
    font-size: 15px;
  }
  .hero-left svg {
    max-width: 22px;
  }
}
@media (max-width: 320px) {
  .hero-right img {
    max-width: 250px;
  }
  .hero-left h1 {
    font-size: 32px;
  }
  .hero-left button {
    padding: 4px 5px;
    font-size: 14px;
  }
  .hero-left svg {
    max-width: 20px;
  }
}

/* FINANCES */
.finances {
  width: 100%;
  height: 870px;
  background-color: white;
  position: relative;
}
.finances .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}
.finances-left img {
  max-width: 500px;
}
.finances-left {
  max-width: 450px;
}
.finances-right {
  max-width: 600px;
}
.finances-right h1 {
  font-size: 48px;
}
.finances-right p {
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.finances-right button {
  padding: 7px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 20px;
  background-color: #c6a9eb;
  border-radius: 6px;
  border: #c6a9eb;
}
.finance-box {
  max-width: 1200px;
  width: 100%;
  padding: 60px 0;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -60px;
  margin: 0% auto;
  right: 0%;
  left: 0%;
}
.finance-box span {
  color: #bc8afc;
}

@media (max-width: 1536px) {
  .finances-left img {
    max-width: 480px;
  }
  .finances-right h1 {
    font-size: 42px;
    line-height: 130%;
  }
  .finance-box {
    max-width: 1100px;
    padding: 40px 0;
  }
}
@media (max-width: 1280px) {
    .finances {
    height: 600px;
  }
  .finances .container {
  padding-top: 100px;
}
  .finances-left img {
    max-width: 350px;
  }
  .finances-right {
    max-width: 500px;
  }
  .finances-right h1 {
    font-size: 35px;
    line-height: 130%;
  }
  .finances-right p {
    font-size: 18px;
  }
  .finance-box {
    max-width: 950px;
    padding: 40px 0;
  }
}
@media (max-width: 1024px) {
  .finances {
    height: 520px;
  }
  .finances .container {
    gap: 70px;
     padding-top: 60px;
  }
  .finances-left img {
    max-width: 330px;
  }
  .finances-right {
    max-width: 450px;
  }
  .finances-right h1 {
    font-size: 27px;
    line-height: 130%;
  }
  .finances-right p {
    font-size: 15px;
  }
  .finance-box {
    max-width: 750px;
    padding: 25px 0;
  }
}
@media (max-width: 768px) {
  .finances {
    height: 700px;
    background-color: white;
    position: relative;
  }
  .finances .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 30px;
  }
  .finances-left img {
    max-width: 280px;
  }
  .finances-right button {
    margin: 0% auto;
  }
  .finances-right button {
    padding: 5px 9px;
    font-size: 15px;
  }
  .finances-right svg {
    max-width: 20px;
  }
  .finance-box {
    max-width: 350px;
    padding: 20px 0;
  
  }
   .finance-box h1{
    font-size: medium;
   }
   .finance-box p{
    font-size: small;
   }
}
@media (max-width: 320px) {
  .finances-left img {
    max-width: 230px;
  }
  .finances-right h1 {
    font-size: 20px;
  }
  .finances-right p {
    font-size: 12px;
  }
  .finance-box {
    max-width: 150px;
  }
  .finances {
    height: 900px;
    background-color: white;
    position: relative;
  }
}

/* OVER SERVICE */
.our-service {
  width: 100%;
  height: 600px;
  background-color: rgb(240, 249, 253);
  padding-top: 20px;
}
.over-service-boxes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 123px;
}
.over-service-box {
  max-width: 450px;
  width: 100%;
  background-color: transparent;
  padding: 5px;
}
.over-service-box img {
  max-width: 100px;
}

@media (max-width: 1280px) {
  .over-service-box {
    max-width: 400px;
  }
}
@media (max-width: 1024px) {
  .over-service-box {
    max-width: 250px;
  }
  .over-service-box img {
    max-width: 70px;
  }
  .over-service-box h4 {
    font-size: 15px;
  }
  .over-service-box p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .our-service {
    text-align: center;
    height: 700px;
  }
  .over-service-boxes {
    justify-content: center;
  }
  .over-service-box {
    max-width: 550px;
  }
}
@media (max-width: 480px) {
  .our-service {
    height: 750px;
  }
}
@media (max-width: 320px) {
  .our-service {
    height: 1050px;
  }
}

/* statistic */
.statistics {
  width: 100%;
  height: 450px;
}
.statistics .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistics-left h1 {
  color: white;
  margin-bottom: 50px;
}
.statistics-right {
  margin-top: -150px;
}
.statistics-left img {
  max-width: 205px;
  height: 65px;
  padding: 0 10px;
}
.statistics-right img {
  height: 600px;
}
@media (max-width: 1536px) {
  .statistics {
    height: 300px;
  }
  .statistics-right img {
    height: 370px;
  }
  .statistics-left h1 {
    margin-top: 30px;
  }
  .statistics-right {
    margin-top: -70px;
  }
  .statistics-left img {
    max-width: 145px;
    height: 55px;
    padding: 0 10px;
  }
}
@media (max-width: 1280px) {
  .statistics {
    height: 340px;
  }
  .statistics-right img {
    height: 400px;
  }
  .statistics-left h1 {
    margin-top: 70px;
  }
  .statistics-right {
    margin-top: -60px;
  }
}
@media (max-width: 1024px) {
  .statistics {
    height: 350px;
  }
  .statistics-right img {
    height: 400px;
  }
  .statistics-left h1 {
    font-size: 25px;
    margin-top: 70px;
  }
  .statistics-right {
    margin-top: -60px;
  }
  .statistics-left img {
    max-width: 170px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .statistics {
    height: 660px;
  }
  .statistics .container {
    flex-direction: column;
    gap: 100px;
    text-align: center;
  }
  .statistics-right img {
    height: 400px;
  }
  .statistics-left h1 {
    font-size: 25px;
    margin-top: 70px;
  }
  .statistics-left img {
    max-width: 150px;
    height: 55px;
  }
}
@media (max-width: 640px) {
  .statistics{
    height: 550px;
  }
  .statistics-right img {
    height: 300px;
  }
  .statistics-left h1 {
    font-size: 20px;
    margin-top: 70px;
  }
  .statistics-left img {
    max-width: 120px;
    height: 50px;
  }
}

/* benefits */

.benefits {
  width: 100%;
  height: 630px;
  background-color: white;
}
.benefits .container {
  display: flex;
  gap: 300px;
  align-items: center;
  padding-top: 40px;
}
.benefits-left img {
  max-width: 500px;
}
.benefits-right {
  max-width: 450px;
}
.benefits-right h1 {
  font-size: 40px;
}
.benefits-right p {
  font-size: 16px;
}
.benefits-ticks p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.benefits-ticks img {
  max-width: 40px;
  height: 40px;
}
@media (max-width: 1536px) {
  .benefits {
    height: 640px;
  }
  .benefits .container {
    display: flex;
    gap: 250px;
    align-items: center;
    padding-top: 30px;
  }
  .benefits-left img {
    max-width: 450px;
  }
  .benefits-right {
    max-width: 420px;
  }
}
@media (max-width: 1280px) {
  .benefits {
    height: 500px;
  }
  .benefits .container {
    gap: 130px;
  }
  .benefits-left img {
    max-width: 420px;
  }
  .benefits-right {
    max-width: 400px;
  }
  .benefits-right h1 {
    font-size: 35px;
  }
  .benefits-right p {
    font-size: 15px;
  }
  .benefits-ticks p {
    font-size: 15px;
  }
  .benefits-ticks img {
    max-width: 30px;
    height: 30px;
  }
}
@media (max-width: 1024px) {
  .benefits {
    height: 440px;
  }
  .benefits .container {
    gap: 120px;
  }
  .benefits-left img {
    max-width: 350px;
  }
  .benefits-right {
    max-width: 400px;
  }
  .benefits-right h1 {
    font-size: 32px;
  }
  .benefits-right p {
    font-size: 14px;
  }
  .benefits-ticks p {
    font-size: 14px;
  }
  .benefits-ticks img {
    max-width: 26px;
    height: 26px;
  }
}
@media (max-width: 768px) {
  .benefits {
    height: 680px;
  }
  .benefits .container {
    flex-direction: column;
    text-align: start;
    gap: 30px;
  }
  .benefits-left img {
    max-width: 310px;
  }
  .benefits-right {
    max-width: 400px;
  }
  .benefits-right h1 {
    font-size: 28px;
  }
  .benefits-right p {
    font-size: 13px;
  }
  .benefits-ticks p {
    font-size: 12px;
  }
  .benefits-ticks img {
    max-width: 23px;
    height: 23px;
  }
}
@media (max-width: 320px) {
  .benefits {
    height: 520px;
  }
  .benefits-left img {
    max-width: 270px;
  }
  .benefits-right h1 {
    font-size: 24px;
  }
}

/* /* cards */

.cards {
  width: 100%;
  height: 535px;
  background-color: azure;
}
.cards .container {
  text-align: center;
  padding-top: 50px;
}
.cards-boxes {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-box {
  max-width: 522px;
  height: 341px;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-align: start;
  padding: 0px 20px;
}
.card-box-1 p {
  margin-top: 30px;
}
.card-box-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.card-box-footer img {
  max-width: 116px;
  height: 116px;
  border-radius: 50%;
}
.card-box-2 p {
  margin-top: 30px;
}
.cards-boxes-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  display: none;
}
@media (max-width: 1280px) {
  .card-box {
    max-width: 422px;
    height: 301px;
    padding: 0px 15px;
  }
  .card-box h3 {
    font-size: 16px;
  }
  .card-box p {
    font-size: 13px;
  }
  .card-box-footer img {
    max-width: 90px;
    height: 90px;
  }
}
@media (max-width: 1024px) {
  .cards {
    height: 435px;
  }
  .card-box {
    max-width: 310px;
    height: 240px;
    padding: 0px 10px;
  }
  .card-box h3 {
    font-size: 14px;
  }
  .card-box p {
    font-size: 12px;
  }
  .card-box-footer img {
    max-width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .cards {
    height: 495px;
  }
  .cards-boxes {
    display: none;
  }
  .card-box {
    margin: 0% auto;
    margin-top: 30px;
  }
  .cards h3{
    font-size: 16px;
  }
  .cards-boxes-small {
    display: unset;
  }
  .card-box {
  max-width: 522px;
  height: 301px;
  border-radius: 28px;
  padding: 0px 20px;
}
  .arrow-setting {
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  .cards {
    height: 535px;
  }
  .card-box {
    max-width: 522px;
    height: 300px;
    padding: 0px 20px;
  }
  h3 {
    font-size: 15px;
  }
  .card-box-footer img {
    max-width: 26px;
    height: 26px;
  }
  .card-box-footer h3 {
    font-size: 12px;
  }
}

/* footer */
.footer {
  width: 100%;
  height: 373px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}
.footer-left img {
  max-width: 107px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer-left a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
.footer-icons  {
color: white; 
display: flex;
gap: 20px;
font-size: 30px;
}
.footer-icons i{
  margin-top: 20px;
}
.footer-right {
  max-width: 550px;
  margin-top: 50px;
}
.footer-right h4 {
  color: white;
  margin-bottom: 20px;
}
.footer-input input {
  width: 250px;
  height: 50.013px;
  border-radius: 6px;
    padding-left: 10px;
}
.footer-input {
  max-width: 410.06px;
  height: 69.013px;
  border-radius: 6px;

}
.footer-right button{
  padding: 14px 30px;
  border-radius: 6px;
  background-color: #c6a9eb;
  color: #000;
font-size: 17px;
}
.footer-applogo img{
  max-width: 189.231px;
height: 60px;

}


@media (max-width:1024px){
  .footer-left {
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-links {
  gap: 30px;
}
.footer-left a {
font-size: 13px;
}
.footer-right {
  max-width: 350px;
}
.footer-right h4 {
  margin-bottom: 20px;
}
.footer-input input {
  width: 180px;
  height: 40.013px;
}
.footer-input {
  max-width: 510.06px;
  height: 59.013px;
  align-items: center;

}
.footer-right button{
  padding: 9px 30px;
  border-radius: 6px;
font-size: 17px;
}
.footer-applogo img{
  max-width: 119.231px;
height: 40px;

}
}
@media (max-width:768px){
  footer .container{
    flex-direction: column;
    align-items: center;
  }
footer .footer-left{
  max-width:450px ;
}
.footer-links {
  gap: 20px;
}
.footer-links a{
  font-size: 13px;
}
.footer-icons i {
  margin: 0% auto;
 margin-top: 20px;
}
.footer-left {
  max-width: 250px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.footer-right{
  text-align: center;
}
}
@media (max-width:410px){

footer .footer-left{
  max-width:420px ;
}
.footer-links {
  gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-links a{
  font-size: 14px;

}
}
